<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Management</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <style>
        
        #sidebar {
            min-height: 100vh;
            width: 250px;
            background-color: #f8f9fa;
            border-right: 1px solid #dee2e6;
            position: fixed;
        }
        #sidebar a {
            padding: 15px;
            display: block;
            color: #000;
            text-decoration: none;
        }
        #sidebar a:hover {
            background-color: #e9ecef;
        }
       
        #main-content {
            margin-left: 250px;
            padding: 20px;
        }
    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" href="#">Management</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </nav>
    </header>

    
    <div id="sidebar">
        <nav>
            <a asp-page="/Home/Employees/Index">Home</a>
            <a asp-page="/Home/Employees/Index">Employee</a>
            <a asp-page="/Home/Employees/Create">Add Employee</a>
        </nav>
    </div>

    
    <div id="main-content">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

   

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
